footer {
    font-size: 14px;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    background-color: $backgroundmain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 200px;

    ul {
        display: flex;
        justify-content: center;

        h3 {
            animation-duration: 2s;
            animation-name: aparecer;
            animation-iteration-count: infinite;
        }
    }
}