* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    background-image: linear-gradient(to right, #5f72bd, #6069cf, #6b5cdd, #8049e6, #9b23ea);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    }

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: black;
  border: solid 2px;
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-widht: 576px) and (orientation: portrait) {
    header ul {
        flex-direction: column;
        }
}