* {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background-color: #ddcace;
    }

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center; 
    border: solid 2px;
}

#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    row-gap: 100px;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside { 
    display: flex;
    flex-direction: row;
    grid-area: aside;
    column-gap: 10px;
}